<html>



<div class="example-container mat-elevation-z8">

  <md-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container mdColumnDef="id">
      <md-header-cell *mdHeaderCellDef> ID</md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.id}}</md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container mdColumnDef="name">
      <md-header-cell *mdHeaderCellDef> Name</md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.name}}</md-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container mdColumnDef="status">
      <md-header-cell *mdHeaderCellDef> Status</md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.status}}</md-cell>
    </ng-container>

    <!-- Start Column -->
    <ng-container mdColumnDef="start">
      <md-header-cell *mdHeaderCellDef> Start</md-header-cell>
      <md-cell *mdCellDef="let row" [style.color]="row.start"> {{row.start}}</md-cell>
    </ng-container>

    <!-- End Column -->
    <ng-container mdColumnDef="end">
      <md-header-cell *mdHeaderCellDef> End</md-header-cell>
      <md-cell *mdCellDef="let row" [style.color]="row.end"> {{row.end}}</md-cell>
    </ng-container>

    <!-- Link Column -->
    <ng-container mdColumnDef="link">
      <md-header-cell *mdHeaderCellDef> Link</md-header-cell>
      <button md-button href="www.google.com">link</button>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>

  <md-paginator #paginator
                [length]="pipelineDatabase.data.length"
                [pageIndex]="0"
                [pageSize]="25"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>
</div>
</html>
